

*{
    box-sizing: border-box;
}
html{
    font-size:16px;
}
body {
    margin: 0;
    line-height: 1.25;
    font-family: 'Circe';
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
.container{
    max-width:1170px;
    margin-right:auto;
    margin-left:auto;
    padding-right:30px;
    padding-left: 30px;
}
.company_name{
    background: url("images/header.png") 100% 100% no-repeat;
    color:white;
}
.company_name h1{
    margin: 0px;
    padding: 30px  0px 12px 0px;
    font-weight: 800;
    font-size: 2.6rem;
}
.company_name p{
    margin: 0px;
    padding-bottom: 40px;
    font-size: 1rem;
    font-weight: 300;
}
.product_row{
    display: flex;
}
.link_text{
    color:#003f60;
    text-decoration: none;
}
.item_link{
    color:#003f60;
    font-weight: bolder;
}
.link_text:hover, .link_text:focus{
    text-decoration: underline;
}
.about_block{
    flex-basis: 50%;
    font-size: 1rem;
    color:#020508;
    padding: 2% 5% 2% 11%;
}
.product_img, .product_info_block{
    width: 50%;
}
.product_info_block h2{
    color:#2a2b2f;
    font-size: 1.2rem;
    font-weight: bold;
}
.item_info{
    width: 80%;
    margin: 0 auto;
    padding: 7% 0;
    color:#7e8082;
}
.item_info p{
    font-size: 0.875rem;
}
.resposive_img{
    width: 100%;
    height: auto;
    display: block;
}
.hover_block{
    background-color: #eeeeee;
    display: flex;
    flex-basis: 50%;
}

.hover_block:focus, .hover_block:hover{
    background: rgba(0, 52, 79, .4);
    opacity: 0.9;
    cursor: pointer;
    position: relative;
}
.hover_block:hover:after{
    font-family: "FontAwesome";
    content: "\f0a9";
    display: block;
    position: absolute;
    left: 94%;
    top: 45%;
    color:white;
    font-size: 30px;
}
.scroll{
    flex-grow: 1;
}
.scroll .fa{
    vertical-align: -7px;
    margin-left: 10px;
}
.separator{
    background-color: #00344f;
    height: 90px;
    line-height: 88px;
}
.underline_link{
    border-bottom: 3px solid white;
    text-decoration: none!important;
    font-size: 1.25rem;
}
.separator a{
    color: white;
}
.separator a:hover{
    text-decoration: underline;
}
.phone_block{
    flex-basis: 50%;
    align-items: flex-end;
}
.phone{
    display: flex;
   /* margin-left: auto;*/
    justify-content: space-between;
}
.phone li{
    flex-basis: 25%;
}
.flex_separator{
    display:flex;
}
#advantages{
    background: url("images/oil.png") top right no-repeat;
}
.main_advantage{
    width: 50%;
    padding: 0 0 100px 0;
}
.main_advantage h1{
    font-weight: bold;
    font-size: 24px;
    padding: 40px 0 30px 0;
    line-height: 1.2;
    margin: 0;
}
.main_advantage p{
    margin: 0 0 10px;
}
.list_advantage{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list_advantage li{
    flex-basis: 25%;
    position: relative;
    padding-left: 70px;
}
.list_advantage h2{
    font-size: 1.125rem;
    margin: 0;
}
.list_advantage p{
color:#6b6d6f;
    padding: 5px 0 50px 0;
    margin: 0;
}

.advantage-1:before{
    content: '';
    width: 40px;
    height: 35px;
    background: url("images/sprite.png") -10px -70px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.advantage-2:before{
    content: '';
    width: 31px;
    height: 34px;
    background: url("images/sprite.png") -130px -59px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.advantage-3:before{
    content: '';
    width: 40px;
    height: 38px;
    background: url("images/sprite.png") -70px -10px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.advantage-4:before{
    content: '';
    width: 40px;
    height: 40px;
    background: url("images/sprite.png") -10px -10px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.advantage-5:before{
    content: '';
    width: 40px;
    height: 29px;
    background: url("images/sprite.png")  -130px -10px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.advantage-6:before{
    content: '';
    width: 40px;
    height: 32px;
    background: url("images/sprite.png")   -70px -70px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.advantage-7:before{
    content: '';
    width: 40px;
    height: 25px;
    background: url("images/sprite.png")   -10px -125px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.contact_flex{
    display:flex;
}
.contact_block{
    flex-grow: 1;
    padding-left: 11%;
}
.map{
    flex-grow: 2;
}
.contact_block h1{
    font-size: 24px;
    padding-top:40px;
    margin: 0;
}
.contact_block p{
    margin-top: 5px;
    margin-bottom: 30px;
}
.contact_name{
    font-weight: bold;
    margin: 0 0 15px 0;
}
.contact_name:before{
    width: 30px;
    background-color: #ee3033;
    border-radius: 5px;
    font-family: 'FontAwesome';
    color: #ffffff;
    font-size: large;
    margin-right: 24px;
}
.contact_phone:before{
    content: "\f095";
    padding: 2px 4px;
}
.contact_info{
    margin: 0 0 50px 50px;
}
.contact_info a{
    color: black;
}
.contact_info a:hover{
    text-decoration: underline;
}
.contact-address:before{
    content: "\f041";
    padding: 2px 6px;
}
.contact_email:before {
    content: "\f0e0";
    padding: 1px 2px;
}
.underline{
    border-bottom: solid 1px;
}
.underline:hover{
    text-decoration: none!important;
}

@media only screen and (max-width: 1000px) {
    .product_row {
        flex-direction: column;
    }

    .hover_block:nth-child(2) .product_info {
        order: 2;
    }

    .phone {
        flex-direction: column;
    }
.list_advantage{
    flex-direction: column;
}
    .list_advantage li {
        flex-basis: auto;
    }
    .hidden{
        display: none;
    }
}



@media only screen and (max-width: 768px) {
    HTML {
        font-size: 14px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .flex_separator {
        flex-wrap: wrap;
    }

    #advantages {
        background: none;
    }

    .main_advantage {
        width: 100%;
    }

    .contact_flex {
        flex-direction: column;
    }

    .contact_block {
        padding-left: 5%;
    }

    .main_advantage {
        padding: 0 0 50px 0;
    }

}

